/* ეს კოდი დაამატე ფაილის ბოლოში */
.switch-btn {
  background: none;
  border: none;
  color: #007bff;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}



/* ეს კოდი დაამატე ფაილის ბოლოში */
.error-message {
  color: #dc3545; /* წითელი ფერი */
  font-size: 14px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}
